@page "/"
@using scribal.Shared
@inject HttpClient http

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@foreach (var post in Posts)
{
    <h3>@post.Title</h3>
    <p>@post.Content</p>
}

@code {
    private static List<Post> Posts = new List<Post>();

    protected override async Task OnInitializedAsync()
    {
        var result = await http.GetFromJsonAsync<List<Post>>("api/Post");
        if (result != null)
            Posts = result;
    }
}